@model ADS.LAPEM.Web.Areas.Example.Models.PersonViewModel


@using (Html.BeginForm("Create", "Person", FormMethod.Post, new { id = "frmPerson" }))
{
    <p>@Html.ValidationSummary()</p>
    <div>
        <ul>
            @foreach (string mensaje in Model.Mensajes)
            {
                <li style="color: red">@mensaje</li>
            }
        </ul>
    </div>   
    
            if (Model.Person.Id > 0)
            {
    <p>@Html.HiddenFor(x => x.Person.Id)</p>
            }  
    <div>
        <p>
            @Html.Label("Firstname : ")
            @Html.ValidationMessageFor(x => x.Person.Firstname, "*")
            @Html.TextBoxFor(x => x.Person.Firstname)
        </p>
        <p>
            @Html.Label("Lastname : ")
            @Html.ValidationMessageFor(x => x.Person.Lastname, "*")
            @Html.TextBoxFor(x => x.Person.Lastname)
        </p>
        <p>
            @Html.Label("Email : ")
            @Html.ValidationMessageFor(x => x.Person.Email, "*")
            @Html.TextBoxFor(x => x.Person.Email)
        </p>
        <p>
            @Html.Label("Telephone : ")
            @Html.ValidationMessageFor(x => x.Person.Telephone, "*")
            @Html.TextBoxFor(x => x.Person.Telephone)
        </p>
    </div>
}