@model ADS.LAPEM.Web.Areas.Catalogo.Models.PlantaViewModel

@using (Html.BeginForm("Create", "Planta", FormMethod.Post, new { id = "frmPlanta" }))
{ 
    <p>@Html.ValidationSummary()</p>
    <div>
        <ul>
            @foreach (string mensaje in Model.Mensajes)
            { 
                <li style="color: red">@mensaje</li>
            }
        </ul>
    </div>
    
    if (Model.Planta.Id > 0)
    { 
        <p>@Html.HiddenFor(x => x.Planta.Id)</p>
    }
    
    <div>
        <fieldset>
            <legend>ABC Planta</legend>

            <div class="editor-label">
                 @Html.Label("*Número Interno Planta: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Planta.IdPlantaInterno, "*")
                @Html.TextBoxFor(x => x.Planta.IdPlantaInterno, new { @class = "input100" })
            </div>

            <div class="editor-label">
                 @Html.Label("*Nombre: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Planta.NombrePlanta, "*")
                @Html.TextBoxFor(x => x.Planta.NombrePlanta, new { @class = "input200" })
            </div>

            <div class="editor-label">
                 @Html.Label("*RFC: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Planta.RFC, "*")
                @Html.TextBoxFor(x => x.Planta.RFC, new { @class = "input150" }) 
            </div>

            <div class="editor-label">
                 @Html.Label("*Dirección: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Planta.Direccion, "*")
                @Html.TextAreaFor(x => x.Planta.Direccion, new { @class = "inputTextArea" }) 
            </div>

            <div class="editor-label">
                 @Html.Label("*Ciudad: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Planta.Ciudad, "*")
                @Html.TextBoxFor(x => x.Planta.Ciudad, new { @class = "input150" })
            </div>

            <div class="editor-label">
                 @Html.Label("*Estado: ")
            </div>
            <div class="editor-field">
                 @Html.ValidationMessageFor(x => x.Planta.Estado, "*")
                 @Html.TextBoxFor(x => x.Planta.Estado, new { @class = "input150" }) 
            </div>

            <div class="editor-label">
                 @Html.Label("Telefono: ")
            </div>
            <div class="editor-field">
                 @Html.ValidationMessageFor(x => x.Planta.Telefono, "*")
                 @Html.TextBoxFor(x => x.Planta.Telefono, new { @class = "input150" })
            </div>
        </fieldset>        
         
    </div>
}


