@model ADS.LAPEM.Web.Areas.Catalogo.Models.ProductoViewModel
@using ADS.LAPEM.Services.Common;

@{
    ViewBag.Title = "_Form";
}

@using (Html.BeginForm("Create", "Producto", FormMethod.Post, new { id = "frmProducto" }))
{
    <p>@Html.ValidationSummary()</p>
    <div>
        <ul>
            @foreach (string mensaje in Model.Mensajes)
            { 
                <li style="color: red">@mensaje</li>
            }
        </ul>
    </div>
    
    if (Model.Producto.Id > 0)
    { 
        <p>@Html.HiddenFor(x => x.Producto.Id)</p>
    }
    
    <div>
        <fieldset>
            <legend>ABC Producto</legend>

            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                             @Html.Label("*Código: ")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.ValidationMessageFor(x => x.Producto.Codigo, "*")
                            @Html.TextBoxFor(x => x.Producto.Codigo) 
                        </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="editor-label">
                             @Html.Label("Diámetro: ")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.ValidationMessageFor(x => x.Producto.MedidaDiametroId, "*")
                            @Html.DropDownListFor(x => x.Producto.MedidaDiametroId, Model.MedidasDiametro, IncidentManagerConstants.TextoDefaultCombo)                        
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                             @Html.Label("*Nombre Producto : ")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.ValidationMessageFor(x => x.Producto.Nombre, "*")
                            @Html.TextBoxFor(x => x.Producto.Nombre) 
                        </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="editor-label">
                             @Html.Label("Descripción : ")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.ValidationMessageFor(x => x.Producto.Descripcion, "*")
                            @Html.TextBoxFor(x => x.Producto.Descripcion) 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                             @Html.Label("*Tipo de Producto : ")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.ValidationMessageFor(x => x.Producto.TipoProductoId, "*")
                            @Html.DropDownListFor(x => x.Producto.TipoProductoId, Model.TipoProductos, IncidentManagerConstants.TextoDefaultCombo)                        
                        </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="editor-label">
                             @Html.Label("*Proveedor : ")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.ValidationMessageFor(x => x.Producto.ProveedorId, "*")
                            @Html.DropDownListFor(x => x.Producto.ProveedorId, Model.Proveedores, IncidentManagerConstants.TextoDefaultCombo)                        
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                             @Html.Label("Longitud : ")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.ValidationMessageFor(x => x.Producto.Longitud, "*")
                            @Html.TextBoxFor(x => x.Producto.Longitud) 
                        </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="editor-label">
                             @Html.Label("*Color : ")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.ValidationMessageFor(x => x.Producto.ColorId, "*")
                            @Html.DropDownListFor(x => x.Producto.ColorId, Model.Colores, IncidentManagerConstants.TextoDefaultCombo)                        
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            
        </fieldset>
    </div>
}
