@model ADS.LAPEM.Web.Areas.Reporte.Models.ReporteadorViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/ads/reporte")
@Scripts.Render("~/bundles/knockout")


<style>

    input[type="text"] { 
    border:1px solid;
    }

    table td{
        padding: 10px;
    }

</style>

<div id="content">
    @using (Html.BeginForm("ReporteExcel", "Reporteador", FormMethod.Post, new { id = "frmReporteador" }))
    {  
        <h2>Reporteador</h2>
        <br />
        <br />
        <div><h3>Seleccionar Filtros</h3></div>
        <table>
            <tr>
                <td>@Html.LabelFor(x => x.Identificador)</td>
                <td>@Html.TextBoxFor(x => x.Identificador)</td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Fecha: ")
                </td>
                <td>
                    @Html.CheckBoxFor(x => x.FiltraFecha, new { id = "chkFiltraFecha" })
                    @Html.TextBoxFor(x => x.FechaProduccion, new { @class = "datepicker", data_rules_field = "FechaProduccion", data_rules_op = "eq", data_search = true, id = "dtFechaProduccion" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Producto: ")
                </td>
                <td>
                    @*@Html.DropDownListFor(x => x.ProductoId, Model.lstProducto, "Seleccione...")*@
                    @Html.DropDownListFor(x => x.ProductoId, Model.lstProducto, "Seleccione...", new { data_rules_field = "ProductoId", data_rules_op = "eq", data_search = true, @class = "input150" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Norma: ")
                </td>
                <td>
                    @Html.DropDownListFor(x => x.NormaEnsayoId, Model.lstNormas, "Seleccione...", new { @class = "inputCombo" })
                </td>
            </tr>

        </table>
    
        <br />
        <br />
        <div><h3>Seleccionar Columnas</h3></div>
   
    
        <table>
            <tr class="TablaTextoTitulo">
                <th align="left">Sel</th>
                <th align="left">Columna</th>
            </tr>


            @{
        for (int i = 0; i <= Model.columnas.Count - 1; i++)
        { 
                <tr>
                    <td style="padding: 10px;">
                        @Html.CheckBoxFor(x => x.columnas[i].selected)


                    </td>
                    <td>
                        @Html.Label(Model.columnas[i].col)
                        @Html.HiddenFor(x => x.columnas[i].col)
                        @Html.HiddenFor(x => x.columnas[i].grupo)
                    </td>
                </tr>
                 
        }
            }

        </table>
        <br />
        <br />

        <table>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Reporte Excel"
                        class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><input />

                </td>
            </tr>
        </table>




    }
</div>




<script type="text/javascript">
    $(document).ready(function () {
        ADS.Reporte.Init();
        ADS.Reporte.Reporteador.Init();
    });
</script>
