@model ADS.LAPEM.Web.Areas.Seguridad.Models.AccountViewModel

<html>
    <head>
        @Styles.Render("~/Content/themes/south-street/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryplugin")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/ads")
        @Scripts.Render("~/bundles/ads/seguridad")


        <script type="text/javascript">
            $(document).ready(function () {
                ADS.Seguridad.Init();
                ADS.Seguridad.Account.Init();
            });
        </script>
    </head>
    <body>
        
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "frmAccount" }))
        {
            <header id="headerIndex">
                <div class="wrapper">
			        <div id="logoIndex">
			        </div>
			        <div id="sombraIndex">
			        </div>
		        </div>
            </header>

            <div class="wrapper">
                    <div id="cuadroLogin">
                        <label class="label">
				            Nombre de usuario:
			            </label>
                        @Html.TextBoxFor(x => x.Usuario.Username, new { @class = "inputLogin" })
                        <label class="label">
				            Contraseña:
			            </label>
                        @Html.PasswordFor(x => x.Usuario.Password, new { @class = "inputLogin" })

                    </div>

                    <div class="wrapper wrapperBtnIS">
                        <input type="button" id="btnLogin" value="Login" class="btnIniciarSesion" />
                        <input type="button" id="btnCancelar" value="Cancelar" class="btnIniciarSesion" />			            
		            </div>
            </div>
            
            <div id="dlgValidacion" title="Login"></div>
            
            
            
        }

        
        

    </body>
</html>










