@model ADS.LAPEM.Web.Areas.Catalogo.Models.ColorViewModel
@using ADS.LAPEM.Services.Common;

@{
    ViewBag.Title = "_Form";
}

@using (Html.BeginForm("Create", "Color", FormMethod.Post, new { id = "frmColor" }))
{
    <p>@Html.ValidationSummary()</p>
    <div>
        <ul>
            @foreach (string mensaje in Model.Mensajes)
            { 
                <li style="color: red">@mensaje</li>
            }
        </ul>
    </div>
    
    if (Model.Color.Id > 0)
    { 
        <p>@Html.HiddenFor(x => x.Color.Id)</p>
    }
    
    <div>
        <fieldset>
            <legend>ABC COLOR</legend>

            <div class="editor-label">
                 @Html.Label("*Nombre Color: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Color.Nombre, "*")
                @Html.TextBoxFor(x => x.Color.Nombre, new { @class = "input150" })
            </div>

            <div class="editor-label">
                 @Html.Label("Tipo Tubo: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Color.Tipo, "*")
                @Html.TextBoxFor(x => x.Color.Tipo, new { @class = "input150" })
            </div>

            <div class="editor-label">
                 @Html.Label("*Código Color: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Color.Codigo, "*")
                @Html.TextBoxFor(x => x.Color.Codigo, new { @class = "input150" })
            </div>
        </fieldset>
    </div>

}