@model ADS.LAPEM.Web.Areas.Catalogo.Models.EquipoViewModel
@using ADS.LAPEM.Services.Common;

@{
    ViewBag.Title = "_Form";
}

@using (Html.BeginForm("Create", "Equipo", FormMethod.Post, new { id = "frmEquipo" }))
{ 
    <p>@Html.ValidationSummary()</p>
    <div>
        <ul>
            @foreach (string mensaje in Model.Mensajes)
            { 
                <li style="color: red">@mensaje</li>
            }
        </ul>
    </div>
    
    if (Model.Equipo.Id > 0)
    { 
        <p>@Html.HiddenFor(x => x.Equipo.Id)</p>
    }
    
    <div>
        <fieldset>
            <legend>ABC Equipo</legend>

            <div class="editor-label">
                @Html.Label("*Planta: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Equipo.PlantaId, "*")
                @Html.DropDownListFor(x => x.Equipo.PlantaId, Model.Plantas, IncidentManagerConstants.TextoDefaultCombo, new { @class = "inputCombo" })
            </div>

            <div class="editor-label">
                 @Html.Label("*Código Activo Fijo: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Equipo.CodigoActivoFijo, "*")
                @Html.TextBoxFor(x => x.Equipo.CodigoActivoFijo, new { @class = "input100" })
            </div>

            <div class="editor-label">
                 @Html.Label("*Serie: ")
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(x => x.Equipo.Serie, "*")
                @Html.TextBoxFor(x => x.Equipo.Serie, new { @class = "input150" })
            </div>            

            <div class="editor-label">
                 @Html.Label("*Marca: ")
            </div>
            <div class="editor-field">
                 @Html.ValidationMessageFor(x => x.Equipo.Marca, "*")
                 @Html.TextBoxFor(x => x.Equipo.Marca, new { @class = "input150" })
            </div>

            <div class="editor-label">
                 @Html.Label("*Modelo: ")
            </div>
            <div class="editor-field">
                 @Html.ValidationMessageFor(x => x.Equipo.Modelo, "*")
                 @Html.TextBoxFor(x => x.Equipo.Modelo, new { @class = "input150" })
            </div>

            <div class="editor-label">
                 @Html.Label("FechaCompra: ")
            </div>
            <div class="editor-field">
                 @Html.ValidationMessageFor(x => x.Equipo.FechaCompra, "*")
                 @Html.TextBoxFor(x => x.Equipo.FechaCompra, new { @class = "datepicker" })
            </div>

            <div class="editor-label">
                 @Html.Label("Descripción: ")
            </div>
            <div class="editor-field">
                 @Html.ValidationMessageFor(x => x.Equipo.Descripcion, "*")
                @Html.TextAreaFor(x => x.Equipo.Descripcion, new { @class = "inputTextArea" })
            </div>
            
        </fieldset>        
    </div>
}
